/* Reset some default styles */
body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
}

/* Global Styles */
:root {
    --clr-primary-5: #3f0606;
    --clr-bg: #CCFFFF;
    --clr-text: #333;
}

body {
    font-family: "Lato", sans-serif;
    color: var(--clr-text);
    background: linear-gradient(45deg, #784a57, #332429);
}

header {
    background-color: var(--clr-text);
    color: var(--clr-bg);
    padding: 2%;
    text-align: center;
    width: 96%;
}

header h1 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* The navigation menu */
nav {
    position: sticky;
    top: 20px;
    background-color: var(--clr-text);
    z-index: 100;
    opacity: 0.5;
    
    
}

.navigation-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--clr-text);
    padding: 10px 0;
    position: sticky;
    top: 0;
    
}

.navigation-menu li {
    margin: 0 20px;
}

.navigation-menu a {
    text-decoration: none;
    color: var(--clr-bg);
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s;
}

.center-menu {
    display: none;
}

/* Add a responsive collapsible menu for smaller screens */
@media (max-width: 600px) {
    .navigation-menu {
        display: none;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .navigation-menu li {
        margin: 10px 0;
    }

    
    .menu-button {
        display: block;
        text-align: center;
        cursor: pointer;
        justify-content: center;
        position: fixed; 
    top: 150px; 
    left: 0;
    z-index: 101;
    }

    .close-menu-button {
        display: none;
        text-align: center;
        cursor: pointer;
        justify-content: center;
    }

    .center-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
    }

    .menu-content {
        display: none;
    }

    .menu-button.active + .menu-content {
        display: block;
    }

    .navigation-menu a {
        color: var(--clr-bg);
    }
}

.navigation-menu a:hover {
    color: var(--clr-primary-5);
}


.main-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.center-panel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--clr-bg);
    border-radius: 10px;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px dashed var(--clr-primary-5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

#person-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

#go-to-top {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: var(--clr-primary-5);
    font-weight: bold;
}

#go-to-top:hover {
    color: var(--clr-bg);
}

.section-content {
    font-size: 16px;
    padding: 20px;
    text-align: center;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a {
    margin: 10px;
    color: var(--clr-primary-5);
    text-decoration: none;
}

.social-icons a:hover {
    color: var(--clr-bg);
}

/* CSS for the help box header */
.help-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

textarea {
    width: 96%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

#send-button {
    background-color: var(--clr-primary-5);
    color: var(--clr-bg);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
}

#send-button:hover {
    background-color: var(--clr-text);
    color: var(--clr-bg);
}

/* Styling for the right container */
.right-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    max-width: 100%;
}

footer {
    background-color: var(--clr-text);
    color: var(--clr-bg);
    text-align: center;
    padding: 10px;
    width: 100%;
}

/* Media Query for Smaller Screens */
@media (max-width: 600px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }

    header {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        overflow-x: hidden;
    }

    .main-container {
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .right-container {
        max-width: 100%;
        flex-direction: column;
    }

    .section-content.about {
        text-align: center;
        font-size: 16px;
        margin: 10px 0;
        padding: 10px 5px;
    }

    .section-content.about h2 {
        font-size: 18px;
        margin-bottom: 2px;
    }
}
